body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}

.container {
  Display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
width: 100% !important;
max-width: 100% !important;
}
.wcontent {
  background-color: #F5F6FA;
  overflow: hidden;
	width: 100%;
	position: absolute;
	top: 0;
	margin-top: 30px;
}
.wheader {
  background-color: #1E1E23;
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 100%;
  height: 400px;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.wfooter {
  height: 80px;
  color: #FFF;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  padding: 0;
  background: black;
  overflow: hidden;
position: fixed;
width: 100%;
bottom: 0;
}
.wfooter a {
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 100%;
  display: inline-block;
  float: left;
  padding: 0;
  color: currentColor;
  line-height: 12;
  font-size: 0.725em;
  text-align: center;
  text-decoration: none;
  text-indent: -9999rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  will-change: background, line-height;
  transition: background 0.15s ease-in-out, line-height 0.2s ease 0.2s;
}
.wfooter a:hover, .wfooter a:focus {
  background-color: rgba(128, 128, 128, 0.3);
}
.wfooter a:hover svg, .wfooter a:focus svg {
  transform: scale(1.25);
  opacity: 0.6;
}
.wfooter a:focus, .wfooter a:active {
  outline: none;
}
.wfooter a:focus svg, .wfooter a:active svg {
  opacity: 0.8;
}
.wfooter a:active svg {
  opacity: 1;
}
.wfooter a svg {
  position: absolute;
  fill: currentColor;
  top: calc(30% + 2.5px);
  left: 30%;
  width: 40%;
  height: 40%;
  transform: scale(1);
  transform-origin: center;
  will-change: opacity, transform, top;
  transition: opacity 0.2s ease, transform 0.2s ease, top 0.2s ease;
  opacity: 0.4;
  pointer-events: none;
}
.wfooter a.active {
  background-color: rgba(128, 128, 128, 0.15);
  text-indent: 0;
  line-height: 10;
  transition-delay: 0s, 0s, 0s;
}
.wfooter a.active svg {
  top: calc(17.5% + 2.5px);
  transform-origin: center bottom;
  opacity: 1;
}
.wfooter a.active:hover svg, .wfooter a.active:focus svg, .wfooter a.active:active svg {
  transform: scale(1);
}
.wfooter a.traversing svg {
  transition-delay: 0s, 0s, 0s;
  animation: 0.15s traversing ease-out both;
}
.wfooter .line {
  position: relative;
  height: 5px;
  text-indent: -9999rem;
  transform: translateX(-50%);
  border-radius: 2.5px;
  background: currentColor;
  transition: left 0.5s ease-out;
  z-index: 10;
  display: block;
  width: 25%;
  left: 0;
}
@keyframes traversing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
.wfooter.light {
  background-color: #d2d2d2;
  color: gray;
}
.wfooter.light svg {
  fill: gray;
}
.wfooter.primary {
  background: magenta;
  color: #FFF;
}
.wfooter.primary svg {
  fill: #FFF;
}

.page {
	display: none;
	margin: 50px 50px 120px 50px;
}


.wdialog {
	margin: -5px 20px -20px 20px;
}

#page-receive .card {
  margin-top: 10px;
  word-wrap: break-word;
}


.home-item {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.tx {
	word-wrap: break-word;
	margin: 10px;
}

.receivedtx {
	background-color: #a7e3a8 !important
}

.senttx {
	background-color: #f8cfcf !important;
}

.wallettitle {
	text-align: center;
	width: 100%;
	display: inline-block;
	color: #fff;
}